.pagination{
    background-color: #05292E;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;


 
}

.pagination li{
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
   
    
    
}

.pagination li:hover{
    background-color:aquamarine;
    color:#062226;
 }

 .page-active{
    background-color:aquamarine;  ;
    border: 2px solid #00ffea;
    color:#062226;
  }

 .page-number{
    border-radius: 50%;
    background-color:#062226;
    color:aquamarine;
    width: 30px;
    height: 30px;
    text-align: center;
   
}


